.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.trendSwiper .swiper{
    padding-top: 50px;
}

.trendSwiper .swiper-slide{
    background-position: center;
    background-size: cover;
    width: 240px;
    height: auto;
}

.trendSwiper .swiper-slide img{
    display: block;
    width: 100%;
    border-radius: 0px;
}