@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --color-primary: #266592;
    --color-red: #b12f1b;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg,#30373c, #0f0d0d);
    height: 100vh;
  }

body::-webkit-scrollbar {
    display: none;
}