/* Heading styling */
.editmovie-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    transition: 0.5s;
    z-index: 10000;
}

.editmovie-header .editmovie-title{
    font-family: 'Racing Sans One', cursive;
    color: #fff;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

.editmovie-header .editmovie-button{
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
    background: var(--color-red);
    color: #fff;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer !important;
    border: none;
    border-radius: 5px;
}

.editmovie-header .editmovie-button:hover{
    color: var(--color-red) !important;
    background: #fff !important;
    cursor: pointer !important;
}

/* Form input styling */

