.movie-form {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width:1000vh;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    font-size: 1.2em; /* Increase the font size */
    border: 2px solid #ccc; /* Border styling */
    border-radius: 10px; /* Rounded corners */
    background-color: grey;

}


.form-row {
    display: flex;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    align-items: center; /* Center horizontally */
    width: 95%; /* Adjusted width for form rows */
}

input,
textarea {
    flex: 1;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: calc(100% - 22px); /* Set a fixed width for input elements */
    font-size: 1em; /* Adjust the input font size */
}

textarea {
    height: 100px;
    resize: none;
    width: calc(100% - 22px); /* Full width for textareas */
    font-size: 1em; /* Adjust the textarea font size */
}

.submit-button,
.cancel-button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
    font-size: 1em; /* Adjust the button font size */
}

.submit-button {
    background-color: #007bff;
    color: #fff;
}

.cancel-button {
    border: 2px solid #dc3545;
    background-color: #fff;
    color: #dc3545;
}

.submit-button:hover {
    background-color: #0056b3;
}

.cancel-button:hover {
    background-color: #dc3545;
    color: #fff;
}